<h2><%= @listing.title %></h2>

<ul>
    <li><%= @listing.listing_type %></li>
    <li><%= @listing.address %></li>
    <li><%= link_to @listing.neighborhood.name, neighborhood_path(@listing.neighborhood) %></li>
    <li><%= @listing.description %></li>
    <li>Average Rating: <%= @listing.average_review_rating %></li>
    <li>$<%= @listing.price %></li>
</ul>